button.button.button_warning#restart-bot Restart
p Задайте настроки для вашего бота
.settings
  .settings__item
    .settings__item-col
      label(for="bot_name") Имя бота
    .settings__item-col
      input.input.settings__input(disabled type="text" name="bot_name" id="bot_name" value=settings.name)
  .settings__item
    .settings__item-col
      label(for="bot_name") Канал
    .settings__item-col
      input.input.settings__input(disabled type="text" name="bot_name" id="bot_name" value=settings.channel_name)
  .settings__item
    .settings__item-col
      label(for="bot_name") Изображение
    .settings__item-col
      input.input.settings__input(disabled type="text" name="bot_name" id="bot_name" value=settings.icon.emoji)
  .settings__item
    .settings__item-col
      label(for="join_active") Привественное сообщение
      input.input.settings__checkbox#join_active(type="checkbox" checked=settings.user_join.active)
    .settings__item-col
      textarea( name="user_join" id="user_join").textarea.settings__textarea= settings.user_join.message
  .settings__item
    .settings__item-col
      label(for="leave_active") Прощальное сообщение
      input.input.settings__checkbox#leave_active(type="checkbox" checked=settings.user_leave.active)
    .settings__item-col
      textarea( name="user_leave" id="user_leave").textarea.settings__textarea= settings.user_leave.message
  .settings__item
    .settings__item-col
      label(for="drinkup") Drinkup
    .settings__item-col
      input.input.settings__input(type="datetime-local" id="drinkup" value=settings.drinkup)
  .settings__save
    .settings__message
    button.button.button_primary(data-bot-id=settings._id) Сохранить

